#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
.checkbox{
  display: inline-block;
}
#form-container{
  display: inline-block;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  border-radius: 10px;
  
}
.tableau-container{
  display: block;
  margin-top: 10px;
  width: auto;
  border-radius: 5px;
  border-collapse: collapse;
  border: 3px solid darkgoldenrod;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  margin-left: auto;
}
@media (max-width: 768px) {
  #form-container{
  display: inline-block;
  width: auto;
  }
}